<main id="root"></main>

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    inconcertLogo: "<%= image_path("inConcert-logo-black.png") %>",
    splashLogo: "<%= image_path("splash-logo.png") %>",
    logoMain: "<%= image_path("logo_animate/main.png") %>",
    logoLeft1: "<%= image_path("logo_animate/left_1.png") %>",
    logoLeft2: "<%= image_path("logo_animate/left_2.png") %>",
    logoLeft3: "<%= image_path("logo_animate/left_3.png") %>",
    logoLeft4: "<%= image_path("logo_animate/left_4.png") %>",
    logoRight1: "<%= image_path("logo_animate/right_1.png") %>",
    logoRight2: "<%= image_path("logo_animate/right_2.png") %>",
    logoRight3: "<%= image_path("logo_animate/right_3.png") %>",
    logoRight4: "<%= image_path("logo_animate/right_4.png") %>"
  }
</script>

<script src="https://use.fontawesome.com/023f5a96d3.js"></script>
