<!DOCTYPE html>
<html>
<head>
  <title>InConcert</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag "inconcert-favicon.png" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
